*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #f8fafc;
}
.headers{
  width: 100%;
  height: 4.5rem;
  background-color: #645cff;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header_title{
  font-weight: 700;
}
.cart_container{
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.cart_icon{
  padding: 2px;
  width: 3rem;
  font-size: 2.5rem;

}
.cart_len{
  top:2px;
  left: 33px;
  padding: 8px;
  border-radius: 40%;
  background-color: #c1beff;
  position: absolute;
  font-size: 1.2rem;
}

.yrbag{
  margin-top: 1em;
  width: 100%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:26.08px;
  line-height:46.08px ;
 
}
.yrbag h1{
  color: 0f172a;
  font-weight: 400;
  text-transform: uppercase;
}

.total{
  width: 100%;
  
  height: 4rem;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.total_text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#0f172a;
  font-size: 23px;
  line-height: 22px;
}
.total_amt{
  background-color: #645cff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #f8fafc;
}
.products_main{
  height: 28rem;
  margin-top: 20px;
  text-align: center;
}
.products_main hr{
  width: 50%;
  margin: 0 auto;
}
.products_sub{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.product_items_sare{
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 18px; */
  /* padding: 5px; */
  color: #334155;
  
}
.product_items_container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.btn_rm{
  background: transparent;
  border: none;
  color: #645cff;
  cursor: pointer;
}
.arrows_ka_div{
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: 800;
}
.arrow{
  font-size: 28px;
  cursor: pointer;
}

.clear_cart{
  margin-top: 8px;
  padding: 10px 30px;
  background-color: #c1beff;
  color: #645cff;
  border: 1px solid #645cff;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.clear_cart:hover{
  background-color: #3c3799;
  color: #c1beff;
}
.last{
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #334155;
}
.title_div{
  width: 20%;
}